<!-- html starts from here !  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polished - Appointment Booking System for Nail Salon</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">
        <a href="/">
            <img src="../../public/img/logo.jpeg" alt="logo" class="">
        </a>
     </div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="/">Home</a></li>
         <li><a href="/appointment">Apointments</a></li>
         <li><a href="/login">Login</a></li>
       </div>
     </ul>
   </nav>
    </header>

    <main>
        {{{ body }}}
    </main>
    <!-- Any scripts wanted to be included in here -->
    <!-- script files put in public/javascripts folder -->
    <script src=""></script>
</body>

</html>