<!-- html starts from here !  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polished - Appointment Booking System for Nail Salon</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>
    <!-- Any scripts wanted to be included in here -->
    <!-- script files put in public/javascripts folder -->
    <script src=""></script>
</body>

</html>